<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="/static/common/library/bootstrap/dist/css/bootstrap.custom.css">

<link rel="stylesheet" href="/static/common/library/bootstrap/dist/css/bootstrap.custom.css">
<link rel="stylesheet" href="/static/common/library/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/common/base/style/base.css">
<link rel="stylesheet" href="/static/custom/default/style/reset.css"/>
<link rel="stylesheet" href="#" id="mainSkin">
<script src="/static/common/library/jquery/jquery-1.11.3.min.js"></script>

<script type="text/javascript" src="/static/common/library/jquery/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/common/library/jquery/jquery-ui-fix-focus.js"></script>
<script type="text/javascript" src="/static/common/library/layer/layer.fixbug.js"></script>
<script type="text/javascript" src="/static/common/library/laydate/laydate.dev.js"></script>
<script type="text/javascript" src="/static/common/library/layPage/laypage.dev.js"></script>
<script type="text/javascript" src="/static/common/library/laytpl/laytpl.dev.js"></script>

<script type="text/javascript" src="/static/common/library/dataTables/js/jquery.dataTables.custom.js"></script>
<script type="text/javascript" src="/static/common/library/highcharts/js/highcharts.js"></script>
<script src="/static/common/library/highcharts/js/highcharts-more.js"></script>
<script type="text/javascript" src="/static/common/library/highcharts/js/highcharts-3d.js"></script>
<script type="text/javascript" src="/static/common/library/zTree/js/jquery.ztree.core-3.5.min.js"></script>
<script type="text/javascript" src="/static/common/library/zTree/js/jquery.ztree.excheck-3.5.js"></script>
<!-- icheck -->
<script type="text/javascript" src="/static/common/library/icheck/js/icheck.js?v=1.0.2"></script>
<script type="text/javascript" src="/static/common/library/icheck/js/custom.bugfix.js?v=1.0.2"></script>
<script type="text/javascript" src="/static/common/library/select2/js/select2.full.custom.js"></script>
<script type="text/javascript" src="/static/common/library/select2/js/i18n/zh-CN.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3> hello word </h3>

<div id="tableId"></div>

</body>

<script type="text/javascript"  src="/static/script/index.js"></script>
</html>